html,
body {
  position: relative;
}

body {
  background-color: #abc;
}

*,
*:before,
*:after {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border-width: 0px;
  font-size: 1em;
  font-weight: normal;
  box-sizing: border-box;
  list-style-type: none;
}


#app {
    display: contents;
}